* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration:none;
}

a:hover {
  color:#FF6163;
}

a:active {
 color: #00AAFF;
}

li {
  list-style: none;
}

body {
  width: 100%;
  font-family: Arial Regular, sans-serif;
}

.fixed-container {
  width: 1000px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Верхняя шапка */

.b-top-head {
  width: 100%;
  background-color: #00122f;
  color:#fff;
  letter-spacing: -0.3px;
}

.b-top-head__wrap {
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  padding-bottom: 17px;
}

.b-top-head__link {
  text-decoration: underline;
  color:#fff;
}


.b-top-head__time {
  color:#fff;
}
/* Адаптация верхней шапки */
@media (max-width: 1060px){
  .b-top-head__wrap {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 970px){
  .b-top-head__wrap {
    display: flex;
    justify-content: space-around;
  }
  .fixed-container {
    width: 100%;
  }
  .b-top-head {
    font-size: 14px;
  }
}

@media (max-width: 450px){
  .b-top-head__wrap {
    display: flex;
    justify-content: space-around;
  }

  .b-top-head {
    font-size: 14px;
  }
  .b-top-head__time {
    display: none;
  }
  @media (max-width: 320px){
    .b-top-head {
    font-size: 13px;
  }
  }
}
/* header */
.b-header {
  padding-top: 40px;
  padding-bottom: 31px;
}

.b-header__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}

.b-header__left {
  display: flex;
  justify-content: space-between;
}

.b-burger {
  display: none;
}

.b-button-serch {
  display: none;
}

.b-burger__line {
  display: block;
  background-color: #000;
  width: 20px;
  height:2px;
  margin-bottom: 5px;

}

.b-header__discop {
  width: 123px;
}

.b-header__img {
  width:100%;
}

.b-header__link {
  -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.b-header__mobil {
  display: none;
}

.b-header__righ {
  display: flex;
}

.b-search {
  position: relative;
  width: 320px;
}

.b-search__input {
  width: 100%;
  height: 45px;
  padding-left: 18px;
  background-color:#f3f3f3;
  border-radius: 25px;
  border: none;
}

.b-search__search {
  position: absolute;
  top: 35%;
  left: 280px;
  background-image: url(Img/searh.png);
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  border:none;
  width: 22px;
  height: 20px;
  cursor: pointer;
}

.b-header__temperature {
  position: relative;
  top: 10px;
  left: 8px;
  padding-right:50px;
}

.b-header__temperature::before {
  content: "";
  position: absolute;
  left: -35px;
  display: inline-block;
  width: 29px;
  height: 21px;
  background-image: url(Img/cloudymobi.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-right: 10px;
}

.b-header__link {
  color:#448ccb;
  padding-left:60px;
}

.b-header__text {
  border-bottom: 1px dashed #448ccb;
}

.b-header__text:hover {
  border-bottom: 1px dashed #FF6163;
}

.b-header__text:active {
  border-bottom: 1px dashed #00AAFF;
}

.b-header__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 118px;
  top: 5px;
  width: 10px;
  height: 5px;
  background-image: url(Img/niddle.png);
  background-repeat: no-repeat;
}

/* навигационное меню */ 
.b-header__nav {
  letter-spacing: 0.4px;
}

.b-header__listed {
  display: flex;
}

.b-header__link-top {
  color:#000;
}

.b-header__list:last-child::after {
  display: none;
} 

.b-header__list::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #e3e3e6;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 0 22px 0 16px;
  vertical-align: middle;
}

/* Адаптация header */
@media (max-width: 1020px) {
  .b-header__list::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #e3e3e6;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 0 15px 0 15px;
  vertical-align: middle;
}
}

@media (max-width: 850px) {
  .b-header__list::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #e3e3e6;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
}

@media (max-width: 730px) {
  .b-header__list::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #e3e3e6;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
}

@media (max-width: 700px) {
.b-header__text,.b-header__link::after {
  display: none;
 }

 .b-header__list {
  font-size: 14px;
}
} 

 @media (max-width: 635px) {
.b-header__temperature {
  display: none;
}

.b-header__wrap {
  justify-content: center;
}

.b-header__nav {
  display: none;
}
}

@media (max-width: 500px) {
.b-header__wrap {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
}

  @media (max-width: 320px){

.b-header {
  padding-top: 15px;
  padding-bottom:7px;
}

.b-header__left {
  padding-left: 20px;
  width: 320px;
}

.b-top-head__wrap {
  padding-top:16px;
  padding-bottom:19px;
}

.b-top-head__text {
    font-size: 13px;
}

.b-search {
  display: none;
}

.b-header__discop {
  display: none;
}

.b-header__mobil {
  display: block;
  padding-left:30px;
}

.b-burger {
  display: block;
  padding-left:6px;
  padding-top:3px;
}

.b-button-serch {
  display: block;
  background-color: transparent;
  border:none;
  padding-left:28px;
}
}

 /* блок main */
 .b-main {
  background-color: #f5f5f5;
  background-image: url(Img/shadow.png);
  background-repeat: repeat-x;
  padding-top: 18px;
  padding-bottom: 54px;
}

.b-main__inform-mobil {
  color: #b2b2bb;
  font-size:16px;
}

.b-main__date {
  display: inline-block;
  margin-right: 15px;
}

 .b-main__weather{
  margin-left:23px;
  display: inline-block;
  position: relative;
  left: 55px;
}

.b-main__time {
  display: inline-block;
  position: relative;
  left: 23px;
}

 .b-main__time::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 48px;
  width: 16px;
  height: 16px;
  background-image: url(Img/clockmobil16.png);
  background-repeat: no-repeat;
  vertical-align: top;
}

.b-main__weather::before{
  content: "";
  display:inline-block;
  position: absolute;
  right: 58px;
  width: 29px;
  height: 21px;
  background-image: url(Img/cloudymobi.png);
  vertical-align: bottom;
  background-repeat: no-repeat;
}

.b-main__inform-mobil {
  display: none;
}

.b-main__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.b-main__news-left {
  background-color:#fff;
  width: 250px;
  padding-top:26px;
}

.b-main-title {
  font-size: 20px;
  padding-left: 17px;
  letter-spacing: 0.5px;
  padding-bottom:23px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 28px;
}

.b-line-mobil {
  display: none;
}

.b-news {
  padding-bottom:15px;
  line-height: 30px;
}

.b-news-mobil {
  display: none;
}

.b-news__wrap {
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:6px;

}

.b-news__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.b-news__props {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding-left:16px;
  padding-right:36px;
}

.b-news__twelve {
  color:#aaaab5;
  width: 95px;
}

.b-news__team {
  color:#aaaab5;
}

.b-news__team::before {
  content: "";
  display: inline-block;
  width: 11px;
  height:11px;
  background-image: url(Img/clockopas.png);
  background-repeat: no-repeat;
  padding-left:5px;
}

.b-news__coments {
  color:#aaaab5;
}

.b-news__coments::before {
  content: "";
  display: inline-block;
  width: 11px;
  height:11px;
  background-image: url(Img/coment.png);
  background-repeat: no-repeat;
  padding-left:7px;
}

.every_news_block {
  text-align: center;
}

.every_news {
  display: inline-block;
  text-decoration: none;
  color: #448ccb;
  font-size: 14px;
  border: 1px solid #448ccb;
  padding: 15px 50px;
  border-radius: 25px;
}

.b-main__news-center {
  width: 460px;
}

.b-aside {
  width: 250px;
}

.b-aside__top {
  width: 250px;
  height: 400px;
  margin-bottom: 20px;
}

.b-aside__img {
  width: 100%;
}

.b-aside__down {
  width: 250px;
}

 /* центральная новостная колонка */

.b-news-top {
  position: relative;
  width: 460px;
  color:#fff;
  padding-bottom:20px;
}

.b-news-top__img-mobil {
  display: none;
}

.b-news-top__text {
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 112px;
}

.b-news-top__category {
  display: inline-block;
  font-size: 14px;
  padding-bottom:18px;
  padding-left: 20px;
  color:#fff;
}

.b-news-top__title {
  padding-left: 20px;
  font-size: 30px;
  letter-spacing: 0.6px;
  padding-bottom:23px;
}

.b-news-top__date {
  display: inline-block;
  padding-left: 20px;
  font-size: 12px;
}

.b-news-top__time {
  display: inline-block;
  padding-left: 15px;
  font-size: 12px;
}

.b-news-top__time::before{
  content: "";
  width: 11px;
  height: 11px;
  padding-left: 10px;
  background-image: url(Img/clock.png);
  background-repeat: no-repeat;
  padding-right:5px;
}

.b-news-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin:0 auto;
}

.b-news-block {
  width: 220px;
  padding-bottom:18px;
}

.b-news-block__img-discop {
  height:142px; 
  width:221px;
}

.b-news-block__title-discop {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 14px;
}

.b-news:nth-child(13) {
  padding-bottom: 25px;
}

.b-news-block__props {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.b-news-block__category {
  color: #aaaab5;
}

 .b-news-block__time {     
  background-image: url(Img/clockopas.png);       
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 12px;
  color: #aaaab5;       
}

.b-news-block__coment {
  padding-left: 12px;
  background-image: url(Img/chatopas.png);
  background-repeat: no-repeat;
  background-position: left center;
  color: #aaaab5; 
}

.b-news-block__title-mobil {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 13px; 
}

.b-news-block__img-mobil,.b-news-block__title-mobil {
  display: none;
}

/* Нижний новостной блок */
.b-news-down {
  display: flex;
}

.b-news-box {
  position: relative;
  width: 590px;
}
 .b-news-box__img-mobil {
  display: none;
 }

.b-news-box__text {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  color:#fff;
  padding-left: 20px;
  padding-top:100px;
}

.b-news-box__categoru {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  padding-bottom: 23px;
}

.b-news-box__title {
  letter-spacing: 0.9px;
  font-size: 30px;
  padding-bottom:13px;
}

.b-news-box__props {
  display: flex;
  font-size: 12px;
  padding-bottom:22px;
}

.b-news-box__date {
  padding-right:20px;
}

.b-news-box__time::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url(Img/clock.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  padding-left: 3px;
}

.b-news-block__text{
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.3px;
}

/* правая сторона */
.b-news-right {
  width: 410px;
  background-color: #fff;
  padding-top: 26px;
}

.b-news-right__title {
  font-size:20px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 23px;
  padding-left: 16px;
  letter-spacing: 0.5px;
}

.b-news-container {
    padding-top: 26px;
    padding-left: 18px;
    padding-bottom: 4px;
}

.b-news-container-mobil {
  display: none;
}

.b-news-container__subtitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 22px;
  padding-bottom: 11px;
}

.b-news-container__props {
  display: flex;
  font-size:12px;
  width: 160px;
  justify-content: space-between
}

.b-news-container__category {
  color:#aaaab5;
}

.b-news-container__time {
  font-size:12px;
  color:#aaaab5;
}

.b-news-container__time::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  padding-left: 10px;
  background-image: url(Img/clockopas.png);
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.b-news-container__coments{
  font-size:12px;
  color:#aaaab5;
  padding-left: 10px;
}

.b-news-container__coments::before{
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  padding-left: 5px;
  background-image: url(Img/chatopas.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}  

/* мобильный main */ 

@media (max-width: 1030px){
.b-main__wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}
.b-footer__naigation {
  margin-bottom:30px;
  padding-left:0;
}
.b-footer__nav-center {
  margin-bottom:30px;
  padding-left:0;
}
}

@media (max-width: 970px)  {
 .b-aside {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

 .b-aside__img {
  width: auto;
  height: 400px;
}
}

@media (max-width: 740px) {
.b-main__news-left {
  margin-bottom: 20px}
}

@media (max-width: 560px) {
.b-news-center {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.b-news-top {
  width: 320px;
}

.b-news-top__img {
  display: none;
}

.b-news-top__img-mobil {
  display: block;
}

.b-news-top__title {
  font-size:22px;
}
}
@media (max-width: 490px) {
.b-news-middle {
  width: 320px;
  flex-direction: column;
  align-items: center;
}
  .b-aside {
    flex-direction:column;
    align-items: center;
  }
  .b-news-box__img-discop {
    display: none;
  }
  .b-news-box__img-mobil {
    display: block;
  }
  .b-news-box {
    width: 320px;
  }
  .b-news-block__text {
    display: none;
  }
  .b-news-box__title {
    font-size:22px;
  }
  .b-news-right {
    width: 320px;
  }
}

@media (max-width: 320px){
body {
  width: 320px;
}

.fixed-container {
  width: 320px;
}

.b-main {
  padding-top: 41px;
  padding-bottom: 27px;
  background-color: #fff;
  background-image: none;
}

.b-news {
  display: none;
}

.b-news-mobil {
  display: block;
  padding-left: 5px;
  padding-bottom: 21px;
}

.b-news__wrap {
  padding-bottom: 15px;
}

.b-news-middle {
  flex-direction: column;
  width: 320px;
}

.b-news-center {
  display: flex;
  flex-direction: column;
  order:-1;
  width: 320px;
  padding-bottom: 16px;
}

.b-news-top__title {
  font-size:22px;
}

.b-main__wrap {
  flex-direction:column;
  padding-bottom: 13px;
}

 .b-news-top__img {
  display: none;
 }

.b-news-top__img-mobil {
  display: block;
}

.b-line-mobil {
  display: block;
  width: 270px;
  height: 2px;
  background-color: #e5e5e5;
  margin: 0 auto;
  margin-bottom: 28px;
}

.b-news__subtitle {
  letter-spacing: 0.3px;
}

.every_news_block {
  padding-top: 15px;
}

.every_news {
  padding: 15px 92px;
}

.b-aside {
  display: flex;
  flex-direction: row;
  align-items: normal;
  overflow-x: scroll;
  width: 500px;
  max-width: 280px;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 25px;
}

.b-news-top {
  width: 320px;
  padding-bottom:30px;
}

.b-main__inform-mobil {
  display: block;
  padding-bottom: 40px;
  padding-left: 22px;
}

.b-news-top__text {
  padding-top: 140px;
}

.b-header__wrap  {
  padding-bottom:0;
}

.b-news-block {
  width: 320px;
  padding-bottom: 30px;
}

.b-main__news-left {
  width: 100%;
  padding-bottom: 48px;
}

.b-main-title {
  font-size: 22px;
  border:none;
  padding-top: 16px;
  padding-left: 25px;
  padding-bottom: 19px;
  margin: 0;
  letter-spacing: -0.6px;
}

.b-news__props {
  width: 250px;
}

.b-aside__img {
  width: auto;
  height: 400px;
}

.b-aside__down {
  margin-left: 20px;
}

.b-news-block__title-mobil {
  display: block;
  padding-left: 25px;
  padding-right: 15px;
  letter-spacing: 0.3px;
  padding-top: 12px
}

.b-news-block__props {
  width: 180px;
  padding-left: 25px;
}

.b-news-block__title-discop {
  display: none;
}

.b-news-block__img-mobil {
  display: block;
}

.b-news-block__img-discop {
  display: none;
}

.b-news-box__img-discop {
  display: none;
}

.b-news-box__img-mobil {
  display: block;
}

.b-news-down {
  display: block;
}

.b-news-box{
  width: 320px;
}

.b-news-box__img-mobil {
  display: block;
}

.b-news-right {
  width: 320px;
  padding-top: 22px;
  padding-left: 9px;
}

.b-news-box__title {
  font-size:20px;
  letter-spacing: 1.5px;
  line-height: 26px;
  padding-bottom: 25px;
}

.b-news-box__text {
  padding-top: 109px;
  padding-left: 25px
}

.b-news-box__categoru {
  padding-bottom: 18px;
  letter-spacing: 0.6px;
}

.b-news-block__text {
  display: none;
}

.b-news-container{
  display: none;
}

.b-news-container-mobil{
  display: block;
  font-size: 16px;
  padding-left: 17px;
  padding-bottom: 22px;
}

.b-news-container__subtitle {
  padding-bottom: 12px;

}

.b-news-right__title {
  border-bottom: none;
}

.b-main__line-mobil--margin {
  margin-bottom: 25px;
}
}


/* footer */ 
.b-footer {
  background-color: #00122f;
}

.b-footer__wrap {
  border-bottom: 1px solid #26354e;
  padding-bottom: 44px;

}
.b-footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.b-footer__list {
  display: inline-block;
  -webkit-columns: 10px 2;
     -moz-columns: 10px 2;
          columns: 10px 2;
}

.b-footer__nav-link {
  color:#fff;
}

.b-footer__listed {
  padding-bottom: 15px;
  padding-right: 25px;
}

.b-footer__listed:nth-child(5) {
 padding-bottom: 0;
}

.b-footer__social {
  display: flex;
  padding-left: 20px;
}

.b-footer__social-list {
  padding-left: 22px;
}
.b-footer__nav-center {
  padding-left: 40px;
  padding-top: 3px;
}

.b-footer__nav-center-mobil {
  display: none;
}

.b-footer__img {
  display: inline-block;
  padding-bottom: 15px;
}

.b-footer__list-center {
  padding-left: 5px;
}

.b-footer__list-center-mobil {
  display: none;
}

.b-footer__nav-center-listed {
  padding-bottom: 14px;
}

.b-footer__nav-center-link {
  color:#fff;
}

.b-footer__contact {
  font-size:18px;
  padding-left: 45px;
  padding-top: 39px
}

.b-footer__nomber {
  color:#fff;
  margin-bottom: 24px;
}

.b-footer__mail {
  display: block;
  color:#fff;
}

.b-footer__nomber {
  display: inline-block;
  background-image: url(Img/telefon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.b-footer__mail {
  display: block;
  background-image: url(Img/mail.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}

.b-footer__end {
  text-align: center;
  color: #8d9198;
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* адаптивная нижняя новостная колонка */
@media (max-width: 1030px) {
.b-news-down {
  flex-direction: column;
  align-items:center;
}
}

@media(max-width: 860px) {
.b-news-down {
  flex-direction: column;
  align-items:center;
}
}

/* адаптивый footer */ 
@media (max-width: 1050px) {
.b-footer__inner {
  flex-direction: column;
  align-items:center;
}
}

@media (max-width: 320px) {
.b-footer__inner {
  flex-direction: column;
  padding-top:45px;
}

.b-footer__naigation {
  padding-bottom:29px;
  border-bottom: 1px solid #26354e;
  padding-left:23px;
  margin-bottom:0;
}

.fixed-container-mobil {
  width: 270px;
}

.b-footer__list {
  display: inline-block;
  -webkit-columns: 20px 2;
     -moz-columns: 20px 2;
          columns: 20px 2;
}

.b-footer__list-center {
  -webkit-columns: 20px 2;
     -moz-columns: 20px 2;
          columns: 20px 2;
}

.b-footer__list-inner {
  display: flex;
  flex-direction: column;
}

.b-footer__nav-center-listed:nth-child(2){
  padding-bottom: 0;
 }

.b-footer__nav-center-link {
  width: 100px;
}

.b-footer__social {
  padding-left: 0;
  width: 225px;
  display: flex;
  justify-content: space-between;
}

.b-footer__social-list {
  padding-left: 0;
}

.b-footer__contact {
  padding-left: 5px;
  padding-top: 36px
}

.b-footer__nav-center{
  display: none;
}

.b-footer__nav-center-mobil {
  display: block;
  padding-top: 27px;
  padding-left: 18px;
  padding-bottom: 54px;
}

.b-footer__img {
  padding-bottom: 22px;
}

.b-footer__wrap {
  border-bottom: none;
  padding-bottom: 22px;
}

.b-footer__end {
  text-align: left;
  padding-left: 20px;
  padding-right: 1px;
  padding-top: 2px;
  width: 270px;
  line-height: 20px
}

.b-line-mobil--background {
  background-color: #26354e;
  margin-bottom: 24px;
  border:none;
}
}
